{% extends 'base.html.twig' %}

{% block title %}Alpha-Bêtise{% endblock %}

{% block body %}
    <main class="container mt-3 mb-3">
        <section>
            <div class="text-center">
            <h1>Bienvenue chez Alpha-Bêtise</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda tempore dicta quasi, maiores tempora accusamus ipsa cupiditate adipisci maxime? Nostrum est vero molestiae qui. Saepe cumque aliquid maiores libero explicabo.</p>
            <a href="#" class="btn btn-info">La librairie</a>
            {# <a href="{{ path('#') }}" class="btn btn-info">La librairie</a> #}
            </div>
        </section>
    </main>

{% endblock %}
