<footer class="container-fluid text-center p-3" style="background-color: #91d8e38f">
    <div class="row">
        <section class="col">
            Colonne 1
        </section>
        <section class="col">
            Colonne 2
        </section>
    </div>
</footer>